.logo {
     width: 15%;
     height: auto;
     margin: 0rem 1.5rem;
     padding: none;
    
}

.footcontainer {
     background-color: whitesmoke;
     padding: 1rem;
     font-size: 13px;
     min-height: 100px;
 }

 .menuBar {
     display: inline;
 }

 .menuList {
    float: right;
    margin-right: 1rem;
    
 }

 .menuList li{
    display: inline;
    list-style: none;
    margin: 0rem 1rem;
    color: #1189dd;
    
 }
 .menuList li:hover{
cursor: pointer;
 }

 .menuList a{
    text-decoration: none;
 }

