.logo {
     width: 20%;
     height: auto;
     margin: 0rem 1.5rem;
     padding: none;
}

.footcontainer {
     background-color: whitesmoke;
     padding: 1rem;
     font-size: 13px;
     min-height: 100px;
 }

 .menuBar {
     display: inline;
 }

