.courseCard {
    margin: 0.4rem auto;
    font-size: 20px;
    font-weight: 500;
    width:70%;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px gray;   
    list-style: none;
    padding: 1rem;
}