.courseCard {
    margin: 0.4rem auto;
    font-size: 20px;
    font-weight: 500;
    width:70%;
    border-radius: 10px;
    border: gray 1px solid;  
    list-style: none;
    padding: 1.5rem;
}

.finalCard {
    margin: 0.4rem auto;
    font-size: 20px;
    font-weight: 500;
    width:70%;
    border-radius: 10px;
    border: gray 1px solid;  
    list-style: none;
    padding: 1rem;
}

.finalCard:hover {
cursor: pointer;
background-color: #dddddd;
}