.backButton {
    width: 10%;
    height: auto;
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
}

.courseCard {
    margin: 0.4rem auto;
    font-size: 20px;
    font-weight: 500;
    width:70%;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px gray;   
    list-style: none;
}

.courseImage {
    width: 5%;
    height: auto;
    display: inline;
}

.courseButton {
    float: right;
}

.courseTitle {
    color: black;

}
.courseTitle:hover {
    cursor: pointer;
}

